<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/Prod/css/bootstrap/bootstrap.min.css">
    <title>Hein.RulesEngine.UI</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/prettify.css"> 
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header"> 
                <a class="navbar-brand" href="/Prod">Hein.RulesEngine.UI</a> 
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav pull-right">
                    <li> <a href="/Prod/swagger/">API Documentation</a> </li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li> <a href="https://github.com/brandonhein/Hein.RulesEngine-v3">GitHub Repository</a> </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        {{{RENDERBODY}}}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/Prod/js/bootstrap/bootstrap.min.js"></script>
</body>

</html>